{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

  <div class="bg-gray-200 border h-screen  ">
    <form class="flex flex-col" method="post" >
      <div class=" mx-auto w-60 ">
        <button type="submit" class="w-full rounded-lg py-2 text-white bg-blue-400 mt-6 mb-6 " > Submit </button>
      </div>
      <div class=" h-10 mb-10 mx-auto  w-3/4 mt-6 " >
        <input type="text" name="title" placeholder="Title" class=" w-full pl-10 h-10 border bg-gray-100 mb-6 " />
      </div>
      <textarea placeholder="Content" name="content" class=" w-3/4 items mx-auto px-9 py-5 bg-gray-100 placeholder-slate-300 text-slate-600 relative bg-white bg-white rounded text-base border-0 shadow outline-none focus:outline-none focus:ring w-full"></textarea>
    </form>
  </div>
{% endblock %}